{% extends "index.html" %}

{% block title %}Hobbies{% endblock %}

{% block main %}

<div class="hobbies-container mt-0">
    <h2 class="display-4" style="text-align: center;">Hobbies</h2>
    <div class="row">
        {% for hobby in hobbies %}
        <div class="column" style="margin-right:5%">
            <div class="card">
                <img src="{{ hobby.image }}" alt="{{ hobby.activity }}">
                <div class="card-body">
                    <h3>{{ hobby.activity }}</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

