<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <main>
        <div class="hobbies-container">
            <h1>Hobbies</h1>
            <div class="row">
                {% for hobby in hobbies %}
                <div class="column">
                    <div class="card">
                        <img src="{{ hobby.image }}" alt="{{ hobby.activity }}">
                        <div class="card-body">
                            <h3>{{ hobby.activity }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 {{name}}. All rights reserved.</p>
    </footer>
</body>

</html>
